#categories {
  list-style: none;
}

.gallary-box {
  height: auto;
  margin-bottom: 20px;
}

#gallery {
  margin: 0;
  padding: 0;
  display: flex;
}

.imagelist {
  list-style: none;
}

.imagelist:not(:last-child) {
  margin-right: 10px;
}

.image {
  height: 120px;
  border-radius: 5px;
}

#counter {
  margin-bottom: 20px;
}

#validation-input {
  border: 3px solid #bdbdbd;
  margin-bottom: 20px;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
